:root {
  --background: #000000;
  --tile-background-color: #3e065f;
  --major-border-color: #700b97;
  --minor-border-color: #700b97;
  --tile-focus-color: #8e05c2;
  --text-color: #5ee6eb;
}

html,
body {
  background-color: var(--background);
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
  color: var(--text-color);
}

.Grid {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red; */
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid blue; */
}

.Tile {
  text-align: center;
  border: 1px solid var(--minor-border-color);
  margin: -1px 0px 0px -1px;
  padding: 0;
  width: 50px;
  height: 50px;
  background: none;
  font-size: 32px;
  vertical-align: middle;
  line-height: 50px;
  caret-color: transparent;
  color: var(--text-color);
  background-color: var(--tile-background-color);
}

.top-border {
  border-top: 3px solid var(--major-border-color);
}

.bottom-border {
  border-bottom: 3px solid var(--major-border-color);
}

.left-border {
  border-left: 3px solid var(--major-border-color);
}

.right-border {
  border-right: 3px solid var(--major-border-color);
}

.top-left {
  border-radius: 25px 0px 0px 0px;
}
.top-right {
  border-radius: 0px 25px 0px 0px;
}
.bottom-left {
  border-radius: 0px 0px 0px 25px;
}
.bottom-right {
  border-radius: 0px 0px 25px 0px;
}

input.Tile:focus {
  outline: none;
  background-color: var(--tile-focus-color);
}
