.App {
  text-align: center;
  margin-top: 50px;
}

.Grid {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red; */
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid blue; */
}

.Tile {
  text-align: center;
  border: 1px solid grey;
  margin: -1px 0px 0px -1px;
  padding: 0;
  width: 50px;
  height: 50px;
  background: none;
  font-size: 32px;
  vertical-align: middle;
  line-height: 50px;
  caret-color: transparent;
}

.top-border {
  border-top: 3px solid green;
}

.bottom-border {
  border-bottom: 3px solid green;
}

.left-border {
  border-left: 3px solid green;
}

.right-border {
  border-right: 3px solid green;
}

.top-left {
  border-radius: 25px 0px 0px 0px;
}
.top-right {
  border-radius: 0px 25px 0px 0px;
}
.bottom-left {
  border-radius: 0px 0px 0px 25px;
}
.bottom-right {
  border-radius: 0px 0px 25px 0px;
}

input.Tile:focus {
  outline: none;
  background-color: rgb(154, 154, 255);
}
