.App {
  text-align: center;
  margin-top: 50px;
}

.Grid {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red; */
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid blue; */
}

.Tile {
  text-align: center;
  border: 1px solid green;
  margin: -1px 0px 0px -1px;
  padding: 0;
  width: 50px;
  height: 50px;
  background: none;
  font-size: 32px;
  vertical-align: middle;
  line-height: 50px;
  caret-color: transparent;
}

input.Tile:focus {
  outline: none;
  background-color: rgb(154, 154, 255);
}
